.LoginForm{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-self: center;
  width: 40%;
  background-color: white;
  border-radius: var(--modal-border-radius);
  padding: var(--spacing-3xl);
}

.Link{
  color: #0452ff;
  transition: 0.3s;
  &:hover{
    scale: 1.01;
    opacity: 0.8;
  }
}
