.ProfilePic{
  width: 40px;
  height: 40px;
  border-radius: var(--M, 8px);
  z-index: 100;
}

.ProfileDropdown{

}

.LogoBox{
  display: flex;
  align-items: center;

}

.MenuContainer{
  width: 200px;
  display: flex;
  height: 300px;
  transition: 0.3s;
  margin-left: -40px;
  background-color: var(--background-colored);
  z-index: 0;
  border-radius: 12px;

}

.collapsed{
  width: 0;
  height: 0;
  margin-left: 0;
}