.UserListItem {
  width: 100%;
  height: 200px;


  .Image {
    height: 190px;
    width: auto;
    border-radius: var(--card-image-border-radius);
  }
  .InfoWrapper{
    width: 400px;
    overflow: hidden;
  }
}