.topContainer{
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-m);
}

.divider{
  margin-bottom: var(--spacing-2xl);
}

.FilterContainer{
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-left: -5vw;
  height: 480px;
  flex-shrink: 0;
  padding-top: 100px;
  background: var(--background-colored);
  justify-content: center;
}

.Title{
  color: var(--text-on_color, #FDFDFD);
  text-align: center;
  font-feature-settings: 'case' on;
  /* H1 */
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 50.6px */
  letter-spacing: -1.84px;
}

.SubTitle{
  color: var(--text-on_color-disabled);
  text-align: center;
  /* Title */
  font-size: 15px;
  font-style: normal;
  font-weight: 550;
  line-height: 135%; /* 20.25px */
  letter-spacing: -0.6px;
}
.Inputs{
  display: flex;
  align-items: flex-start;
  gap: 2px;
  margin: 40px auto;
}

.Input{
  border-radius: 4px;
  background-color: var(--background-primary);
  width: 330px;
}
.CheckBox{
  width: 60%;
  margin: 0 auto;
}