.ProfileImage{
  width: 150px;
  height: 150px;
}
.InfoWrapper{
  display: flex;
  align-items: flex-start;
  gap: var(--L, 20px);
  margin: 40px 40px;
}

.ProfilePage{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  row-gap: var(--spacing-3xl);
}
.Title{

padding-left: 40px;
}

.ListWrapper{
  padding-bottom: 80px;
  padding-left: 40px;
}