.ProfileImage{
  width: 150px;
  height: 150px;
  border-radius: 999px;
  transition: 0.3s;
  &:hover{
    scale: 1.1;
    opacity: 0.8;
  }
}
.InfoWrapper{
  display: flex;
  align-items: flex-start;
  gap: var(--L, 20px);
  margin: 40px;
}

.ProfilePage{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  //row-gap: var(--spacing-m);
}
.Title{

padding-left: 40px;
}

.ListWrapper{
  padding-bottom: 80px;
  padding-left: 40px;
}

.Buttons{
  margin: 0;
  display: flex;
}

.SkeletonButtons{
  margin: 0;
  display: flex;
  padding: 10px 30px;
  gap: 50px
}