.MainPageSkeleton{
  margin-top: 40px;
  display: flex;
  gap: var(--spacing-m);
  flex-wrap: wrap;
}
.Item{
  display: flex;
  justify-content: space-between;
}

.SkeletonListItem{
  display: flex;
  width: 320px;
  height: 360px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--S, 12px);
  flex-shrink: 0;
  .Image{
    align-self: stretch;
    border-radius: var(--M, 8px);
    width: 320px;
    height: 205px;
  }
  .ImageWrapper{
    position: relative;
    display: flex;
    margin-bottom: 20px;

  }
  .Rating{
    position: absolute;
    right: var(--spacing-2xs);
    top: var(--spacing-2xs);
    display: none;
    color: var(--text-on_color);
    font-size: var(--spacing-s);
    height: 24px;
    padding: 0 var(--Inner-spacing-XS, 8px);
    align-items: center;
    gap: var(--XS, 8px);


  }
  &:hover{
    .Rating{
      display: block;
    }
  }
  .InfoWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Gap-S, 12px);
    align-self: stretch;;
  }

  .Price{
    color: var(--text-primary, #2A2732);
    /* H4 */
    font-size: 20px;
    font-style: normal;
    font-weight: 550;
    line-height: 110%; /* 22px */
    letter-spacing: -0.8px;
  }

  .Location{
    color: var(--text-accent, #8654CC);
    /* Caption Large */
    font-size: 13px;
    font-style: normal;
    font-weight: 450;
    line-height: 120%; /* 15.6px */
    letter-spacing: -0.26px;
  }

  .SpecList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--2XS, 4px);
  }

  .PriceAndViews{
    display: flex;
    justify-content: space-between;
  }

  .type{
    color: var(--text-secondary)
  }
  .views{
    display: flex;
    align-items: center;
    column-gap: var(--spacing-2xs);
  }
  .title{
    color: var(--text-primary)
  }
}